.homeContainer{
    background-image: url(../images/BackgroundLeaves.jpg);
    background-size: cover;
    color: black;
    padding: 10%;
    display: flex;
    
}

.profilepic{
    width:30%;
    border: solid 20px white ;
}

.text{
    text-align: start;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 16px;
    margin-left: 50px;
}