.navBar{
    display: flex;
    height: 7vh;
    padding: 2vh;
    justify-content: space-between;
    background-color: white;
    margin: 2vh;
    border-radius: 16px;
    top: 2vh
}

ul {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
li {
    padding-left: 40px;
 }
.navBtn {
    height: 50px;
}

a img:last-child {
    display: none;  
  }
a:hover img:last-child {
    display: block;  
  }
a:hover img:first-child {
    display: none;  
  }